@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }

  * {
    @apply border-surface-200;
  }

  body {
    @apply bg-surface-50 text-surface-900 antialiased;
  }

  /* Custom Scrollbar for a premium feel */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-surface-300 rounded-full border-[2px] border-solid border-transparent bg-clip-padding;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-surface-400;
  }
}
